@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container-fluid{
     font-weight: bold;
    font-size: 40px;
      display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    z-index: 1300;


